doctype html
head
  meta(charset="utf-8")
  title Home
  link(rel="stylesheet", href="css/master.css")
  <script src="https://use.fontawesome.com/525ca23e8d.js"></script>
  
body
  header.flex.flex--space-around.align-center
    .title-wrap.flex.flex--center.align-center
      h1 3Steps
    nav.global.flex.flex--center.align-center
      a(href="") Home
      a(href="") Contact
      a(href="") Help
      a(href="") About
    .icon-wrap.flex.flex--center.align-center
      a(href="") 
        <i class="fa fa-facebook"></i>
      a(href="") 
        <i class="fa fa-twitter"></i>
      a(href="")
         <i class="fa fa-instagram"></i>
  .introduction.flex.flex--center.align-center.columns
    .total.flex.columns.flex--center.align-center
      h5 introducing
      h1 THE THREE STEPS 
      h4 Handcrafted food and beautifully served drinks
      a.menu(href="menu.html") Menu
  section.outflavours.flex.rows.flex--center.align-center.rows
    .img-holder.posr
      .overlay.posa
    .txt.flex.flex--center.align-center.columns
      h2 Our Flavours!
      h6 Fresh and tasty
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus explicabo sed voluptate saepe necessitatibus atque beatae earum modi harum nostrum.
      a.menu(href="menu.html") Menu
  section.drinks.flex.flex--center.align-center.columns

    h4 Enjoy our
    h1 ICE COLD DRINKS
    a.menu(href="menu.html") Menu
  section.garden.flex.rows
    .col-1.flex.flex--center.align-center.columns
      h2 our place & garden
      h6 enjoy our garden
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quisquam, esse tempora recusandae commodi excepturi nam accusamus assumenda debitis dolore.
      a.button(href="") Read more
    .image-holder
  section.more.flex.flex--center.align-center
    .titler.flex.flex--center.align-center.columns
      h3 Catering and more 
      h1 Events 
      a.more(href="") VIEW EVENTS
  footer.designedBy.flex.flex--center.align-center
    h4 Developed by <a href="http://vyco.co.uk" target="_blank"><span class="logo">vyco</span></a>
      
  
